bin/
gen/
Android/Wedding/bin/
Android/Wedding/bin/classes/com/rtayal/wedding/R$drawable.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$layout.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$id.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$id.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$menu.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$menu.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$string.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$string.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$style.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$style.class

Android/Wedding/gen/com/rtayal/wedding/R.java

Android/Wedding/gen/com/rtayal/wedding/R.java

Android/Wedding/bin/AndroidManifest.xml

Android/Wedding/bin/classes/com/rtayal/wedding/MainActivity.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$attr.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$dimen.class

Android/Wedding/bin/classes/com/rtayal/wedding/R.class

Android/Wedding/bin/classes/com/rtayal/wedding/R.class

iOS/iOS Simulator Screen shot Sep 11, 2013, 4.55.13 PM.png

iOS/iOS Simulator Screen shot Sep 11, 2013, 4.55.32 PM.png

iOS/iOS Simulator Screen shot Sep 11, 2013, 4.56.05 PM.png

iOS/iOS Simulator Screen shot Sep 11, 2013, 4.55.53 PM.png
