bin/
gen/
Android/Wedding/bin/classes/com/rtayal/wedding/R$drawable.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$layout.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$id.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$id.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$menu.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$menu.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$string.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$string.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$style.class

Android/Wedding/bin/classes/com/rtayal/wedding/R$style.class

Android/Wedding/gen/com/rtayal/wedding/R.java

Android/Wedding/gen/com/rtayal/wedding/R.java
