<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rtayal.wedding"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.rtayal.wedding.Wedding"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="com.rtayal.wedding.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rtayal.wedding.events.EventsActitivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.rtayal.wedding.gallery.GalleryActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.rtayal.wedding.venues.VenuesActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.rtayal.wedding.family.FamilyActivity"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCSXXnLCvdwsjqoD7YsnbNN6XgXgh4R1us" />
        <meta-data
            android:name="LOCALYTICS_APP_KEY"
            android:value="dfd759fdfda91377340d12f-bb8a5478-1a55-11e3-1300-004a77f8b47f" />
    </application>

</manifest>