<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array><dict>
        <key>Name</key>
        <string>Pusalal Tayal</string>
        <key>Relation</key>
        <string>Grand Father</string>
    </dict>
        <dict>
            <key>Name</key>
            <string>Manu Bai Tayal</string>
            <key>Relation</key>
            <string>Grand Mother</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Kishor Tayal</string>
            <key>Relation</key>
            <string>Father</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Chanda Tayal</string>
            <key>Relation</key>
            <string>Mother</string>
        </dict>
    </array>
</plist>
